---
import Layout from '@layouts/Layout.astro';
import bgImage from '@assets/images/djtalbg.png';
---

<Layout title="DJTAL">
    <section
        class="h-screen w-full bg-cover bg-center"
        style={`background-image: url(${bgImage.src});`}
    >
    </section>
</Layout>
